/* .root{
    width: 1400px;
    margin: auto;
    min-height: screen;
    border: 1px solid black
}
 .navbar{
display: flex; 
justify-content: space-between;
height: 48px;
 }
.nav_center_item{
    display: flex;
    justify-content: center;
     align-items: center;
     gap:20px  ;
 } */









/* style.css */
/* navbar with responsive  */
.root {
    width: 100%;
    max-width: 1160px;
    margin: auto;
    }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 0 20px;
    margin-top: 20px;
  }
  
  .nav_center_item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav_center_item {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  
    button {
      width: 100%;
      margin-top: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .navbar {
      padding: 0 10px;
    }
  
    img {
      width: 100px;
      height: 26px;
    }
  
    .nav_center_item {
      gap: 5px;
    }
  
    button {
      width: 100%;
      height: auto;
      padding: 10px;
      border-radius: 10px;
    }
  }

/*  */
.one{
    width: 216px;
    height: 312px;
    border: 1px solid gray;
    border-radius:20px;
}
.two{
    width: 216px; height:190px; background-color: #FFFFF5; border:1px solid gray;
   border-radius: 20px;
}
.three{
    width: 216px; height: 162px;
    background-color:#FBFBFB ;
    border-radius: 20px;
    border:1px solid gray;
    margin-top: 27px;
}
.testimonial{
  width: 371px;
  height: 241px;
  border:1px solid gray;
  border-radius: 20px;
  background:#FFFFF5;
}
.testimonial_container{
  display: flex ;
  gap: 20px;
}
.footer{
  width: 1492px;
  height: 442px;
 margin: auto;
  background: #020043;
  margin-top: 80px;
}
.empowering{
  width: 1156px;
  height: 928px;
  border-radius: 20px;
  margin-top: 80px;
  background: #FFFFF5;
  border: 1px solid rebeccapurple;

}
.chaseImage1{
  background-image: url(./images/Rectangle\ 27-2.png);
  width: 524px;
  height: 394px;
  border-radius: 20px;
  position: relative;
}
.chaseImage2{
  background-image: url(./images/Rectangle\ 27-1.png);
  width: 524px;
  height: 394px;
  border-radius: 20px;
  position: relative;
}
.chaseImage3{
  background-image: url(./images/Rectangle\ 27.png);
  width: 524px;
  height: 394px;
  border-radius: 20px;
  position: relative;
}